.color-green{
    color: green
}
.color-red{
    color: red;
}
.color-orange{
    background-color: orange;
    color: white;
}
.hidden{
    display: none;
}
.timer{
    height: 6rem;
}
.passw0rd-text{
    display: block;
}